PUBLIC_SHOW_DEV_TOOLS=false
PUBLIC_SUPABASE_URL=http://127.0.0.1:54321/ # <- Para uso local
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_super_secret_key # <- Te la de el CLI de supabase para uso local
SUPABASE_AUTH_EXTERNAL_DISCORD_SECRET=super_secret_key_discord
PUBLIC_CLOUD_SYNC_DEBOUNCE=5000
PUBLIC_CLOUD_SYNC_POLL_INTERVAL=10000
PUBLIC_ROLLUP_VISUALIZER=true
PUBLIC_RAMOLIBRE_LAB_URL=https://lab.ramolibre.app
